.ViewSwitcher {
background-color: antiquewhite;
 width:100%;
 height:100%
}
.viewShow {
  position: absolute;
  width:100%;
  height:100%; 
}
.buttonHolder{
display:flex;
flex-direction: row;
justify-content:space-between;
}